/* CSS HSL */
:root{
    --sapphire-blue: #006594;
    --lemon-chiffon: #fffaccb8;
    --prussian-blue: rgb(0, 52, 82);
    --green-blue-crayola: #0583cc;
    --rich-black-fogra-29: rgb(5, 25, 36);
    }

    
    
    h1, h2, h3, h4, h5{
        font-family: 'Roboto Slab', serif;
        font-weight: bold!important;
        color: var(--prussian-blue)!important;
    }
    
    #mainheader{
        font-family: 'Zen Maru Gothic', sans-serif; 
        
    }

    button {
        background: transparent;
        border: 0;
        cursor: pointer;
    }

    a:hover{
        color: var(--prussian-blue);
    }
    
    *{
    font-family: 'Zen Maru Gothic', sans-serif; 
    font-weight: bold!important;
    box-sizing: border-box;
    
    }

    html, body, .wrapper {
        height: 100%;
    }

    @keyframes rotate {
        100% {
             background-position: 0% 50%;
        }
    }

    body{
        /* display: flex; */
        place-items: center;
        margin: 0px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/rect%3e%3cpath d='M565.02 26.44 a105.17 105.17 0 1 0 210.34 0 a105.17 105.17 0 1 0 -210.34 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1289.518%2c383.443C1330.699%2c385.906%2c1376.468%2c378.17%2c1397.573%2c342.722C1419.011%2c306.716%2c1404.325%2c262.439%2c1383.062%2c226.329C1362.192%2c190.887%2c1330.605%2c161.1%2c1289.518%2c159.222C1245.284%2c157.2%2c1200.035%2c177.611%2c1179.889%2c217.042C1161.026%2c253.961%2c1178.937%2c296.391%2c1201.746%2c331.012C1221.842%2c361.514%2c1253.056%2c381.262%2c1289.518%2c383.443' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1431.786%2c551.933C1488.694%2c553.096%2c1547.891%2c536.178%2c1577.535%2c487.587C1608.235%2c437.265%2c1603.006%2c372.604%2c1571.636%2c322.697C1542.154%2c275.794%2c1487.173%2c254.57%2c1431.786%2c255.713C1378.547%2c256.812%2c1329.005%2c282.619%2c1301.592%2c328.271C1273.33%2c375.336%2c1268.384%2c434.388%2c1296.002%2c481.834C1323.467%2c529.016%2c1377.203%2c550.818%2c1431.786%2c551.933' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M981.79 299.96 a155.76 155.76 0 1 0 311.52 0 a155.76 155.76 0 1 0 -311.52 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M724.58 399.45 a170.73 170.73 0 1 0 341.46 0 a170.73 170.73 0 1 0 -341.46 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1083.01 9.46 a109.9 109.9 0 1 0 219.8 0 a109.9 109.9 0 1 0 -219.8 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1068.621%2c441.004C1093.962%2c442.061%2c1121.214%2c433.637%2c1133.058%2c411.209C1144.395%2c389.742%2c1131.705%2c365.618%2c1119.521%2c344.62C1107.403%2c323.736%2c1092.766%2c300.031%2c1068.621%2c300.16C1044.597%2c300.288%2c1029.834%2c323.894%2c1018.653%2c345.158C1008.458%2c364.546%2c1002.739%2c386.774%2c1012.865%2c406.198C1023.721%2c427.021%2c1045.158%2c440.026%2c1068.621%2c441.004' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='rgba(255%2c 250%2c 204%2c 1)' offset='0.47'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 101%2c 148%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Zen Maru Gothic', sans-serif;
        color: var(--prussian-blue);
        animation: rotate 1.5s infinite alternate linear;
        box-shadow: 8px 8px 8px #0583cc;
    }

    button {
        background: transparent;
        border: 0;
        cursor: pointer;

    }

    a {
        color: var(--lemon-chiffon);
    }

    form {
        margin-top: 3px;
    }

    .control {
        border: 0;
        border-radius: 8px;
        outline: none;
        width: 100%;
        height: 56px;
        padding: 0 16px;
        background: var(--prussian-blue) !important;
        /* punto in cui diventava giallo al click */
        color: var(--lemon-chiffon) !important;
        font-family: 'Zen Maru Gothic', sans-serif;
        font-size: 16px;
        transition: 0.4s;
    }

    .login-card {
        width: 92vw;
        padding: 21px 24px 2px;
        border-radius: 1.25rem;
        background: var(--sapphire-blue);
        text-align: center;
        align-items: center;
        box-shadow: 8px 8px 8px #0583cc;
        height: 100%;

    }

    .login-card > h2 {
        font-size: 36px;
        font-weight: 600;
        margin: 0 0 6px;
    }

    .login-card > h3 {
        color: var(--lemon-chiffon);
        font-weight: 500;
        margin: 0 0 40px;
        font-size: 1rem;
    }

    .login-form {
        width: 100%;
        margin: 0;
        gap: 16px;
    }

    .login-form input.control::placeholder{
        color: var(--lemon-chiffon);
    }

    .login-form > button.control {
        cursor: pointer;
        width: 100%;
        height: 56px;
        padding: 0 16px;
        background: var(--sapphire-blue);
        color: var(--lemon-chiffon);
        border: 0;
        font-family: 'Zen Maru Gothic', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 2px;
        transition: all 0.375s;
    }

    button:hover{
        background: var(--sapphire-blue)!important;
    }

    .password {
        position: relative;
    }

    .toggle {
        position: absolute;
        top: 50%;
        right: 16px;
        translate: 0 -50%;
        width: 30px;
        height: 30px;
        background-size: 85%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .toggle.showing {
        background-image: url();
    }

    #logincontainer{
        height: 100%;
}

.container-fluid{
    width: 100%;
    height: 100%;
}
    
@media  screen and (max-width:600px){
    .login-card{
        width: 293px;
        margin-bottom: 23px;
        margin-top: 23px;

    }
}



