
/* CSS HSL */
:root{
--sapphire-blue: rgb(0, 101, 148);
--lemon-chiffon: rgba(255, 250, 204, 0.72);
--prussian-blue: #003452;
--green-blue-crayola: #0583cc;
--rich-black-fogra-29: rgb(5, 25, 36);
}

h1, h2, h3, h4, h5{
    font-family: 'Roboto Slab', serif;
    font-weight: bold!important;
}

#mainheader{
    font-family: 'Zen Maru Gothic', sans-serif; 
    margin-top: 10vh;
    
}

*{
font-family: 'Zen Maru Gothic', sans-serif; 
font-weight: bold!important;

}

.logohome{
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  border: 1px;
  border-radius: 1.25rem;
  width: 50%;
  height: 60%;
  box-shadow: inset 0px -20px 20px 20px #0583cc !important;

  margin-bottom: 95px;
  transform: scale(1.2)!important
}

.logohome1{
  border-radius: 15px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}


#down{
    cursor: pointer;
}

.card{
    min-height: 270px !important;
    margin-bottom: 150px !important; 
}


.bg-light{
    background: var(--prussian-blue)!important;
}

.swiper {
    width: 100%;
    height: 10vh;
  }

.logo{
    width: 56px!important;
    height: 56px!important;
    transform: scale(2.0)!important;
    border-radius: 15px!important;
    margin-right: 105px!important;
    z-index: 9999!important;
}

body{
    background-color: var(--lemon-chiffon);
}

/* swiper js */

html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 85%;
        height: 88%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      } 
      

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper {
        margin-left: auto;
        margin-right: auto;
      }

      #descrizione{
        position: absolute;
        bottom: 30px;
        padding: 2rem 4rem;
      }

      .offcanvas, .offcanvas-body{
        border-radius: 25px;
        background-color: var(--sapphire-blue);
        color: var(--lemon-chiffon);

      }

    
      .display-1{
        font-size: 114px;
      }

     


      .navbar-nav ,.nav-link, .text-white{
        color: var(--lemon-chiffon);
    }

    .nav-link{
      border-radius: 90px;
    }

    .nav-link:hover{
      color: var(--green-blue-crayola)!important;

    }

    .dropdown-menu{
      border-radius: 30px;
      overflow-y: scroll;
      height: 208px;
    }

    .active{
      color: var(--green-blue-crayola)!important;
      border-bottom:2px solid var(--green-blue-crayola) ;
    }


    /* MEDIA QUERY */
    #paginate{
        position: relative;
        bottom: 129px;
        left: 50px;
    }
     nav, footer{
        font-weight: bold;
     }

     /* scrollbar custom */
/* width */

::-webkit-scrollbar {
  width: 7px;
}


/* Track */
::-webkit-scrollbar-track {
  background: var(--lemon-chiffon);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green-blue-crayola);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sapphire-blue);
}

.fixed-top{
  top: 90px!important;
}

@media screen and (max-width:990px){

  .navbar-nav{
    text-align: center;
  }

  #navbarDropdown{
    text-align: center;
  }

  .checkuser{
    text-align: center;
  }

  #ricerca1{
    display: grid;
    place-items: center;
  }

  .positionicon{
    display: grid;
    place-items: center;
  }

  .usermessage{
    margin-top: 1.5rem;
  }

  #avatar{
    margin-top: 1.5rem;
  }

  #dark-mode-toggle{
    margin-top: 1.5rem;
  }
}






#categorydropdown{
  overflow-y: scroll;
  height: 210px;
}


html, body {
  position: relative!important;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  overflow: auto;
}



textarea{
  resize: none;
}




 
.box{
  /* margin: 100px auto; */
  width: 300px;
  /* height: 50px; */
}

.container-2{
  /* width: 300px; */
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search{
  width: 80px;
  height: 50px;
  background: var(--green-blue-crayola);
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
  /* color: rgb(251, 1, 1); */
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}
 
.container-2:hover input#search{
width: 300px;
}
 
.container-2:hover .icon{
  color: #93a2ad;
}

#ricerca{
  border-radius: 23px;
  width: 42px;
  height: 44px;
  position: absolute;
  color: var(--lemon-chiffon);
  margin-left: 13vw;
}



body {
  /* background-color: #fcf8f5; */
  color: var(--prussian-blue);
  transition: background-color 1.5s, color 1s;
}



.fa-solid{
  font-size: 25px;
}


.darkmode {
  color: #dcdcdc!important;
  background-color: #222831;
}

.darkmode .card {
  color: black!important;
}


.movimento{
  transform: rotate(343deg);
  transition:all 0.5s;
}


#search{
  margin-left: 13vw;
}

#avatar{
  margin-right: 30px;
}

.usermessage{
  margin-right: 25px;
}

#avatardropdown{
  background: var(--prussian-blue);
}

.useritem{
  color: var(--green-blue-crayola);
}

.form-outline{
  position: unset!important;
}



.form-control{
  background-color: var(--sapphire-blue)!important;
  color: whitesmoke !important;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


#dark-mode-toggle{
  color: var(--lemon-chiffon)!important;
}

.carta{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(390px, 1fr));
  gap: 5px;
  place-items: center;

}

.card{
    width: 25rem;
    min-height: 270px !important;
    margin-bottom: 150px !important;
    margin-top: 1.5rem;
}

#authdropdown{
  height: 109px;
  overflow-y: hidden;
  background-color: var(--prussian-blue);
}


.layout{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6. 1fr);
  grid-template-areas: 
      'nav nav nav'
      'main main main'
      'main main main' 
      'main main main' 
      'footer footer footer' 
      'footer footer footer';
}



.one{
  grid-area: nav;
}

.two{
  grid-area: main;

}


.three{
  grid-area: footer;

}

#footer{
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer1{
  position: absolute;

}


.btn-primary{
  background-color: var(--green-blue-crayola)!important;
}

.btn-pr{
  background-color: var(--prussian-blue);
  color: var(--lemon-chiffon);
}

.btn-block{
  width: 25%!important;

}

#createform{
    display: grid;
    place-items: center;
}

#showCarousel{
  grid-area: first;
}

#second{
  grid-area: second;
}

.margin-container{
  margin-top: 100px;
}

#hr{
  border: 2px solid rgb(0, 52, 82)!important;
  border-color: var(--prussian-blue)!important;
  opacity: 1;
}

.last{
  margin-top: 41vh;
}
/* 
.transizione{
  transition: all 2s;
} */

.h-75{
  height: 27rem!important;
}

/* nav{
  position: fixed!important;
  top: 0!important;
  width: 100%!important;
  z-index: 9999;
} */

.img-preview{
  height: 25rem;
  width: 25rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#formspace{
  margin-bottom: 11vh;
}

#lang{
  background: var(--prussian-blue);
}
.login-card{
  min-height:480px;
}
/* .carouselIndex{
  height: 400px;
  
} */

.btn-back{
  background-color: var(--green-blue-crayola);
  text-decoration: none!important;
  color: var(--lemon-chiffon);
}

.btn-back:hover{
  color: white;
}

html, body{
  scroll-behavior: smooth;
}

#dimensione{
  font-size: 26px;
}

@media screen and (max-width:605px){
   #presto{
      font-size: 60px!important;
   }


}
